extends layout
block content
    .home-splash
        .content-wrapper
            .jumbotron.bg-transparent
                h1.display-2 СпортБлог
                h3 Простой блог о спорте. Реализация CRUD
    .content-wrapper--md
        .list-group
            each article in articles
                a.list-group-item.list-group-item-action.flex-column.align-items-start.blog-post--index(href="/articles/show/" + article._id)
                    .d-flex.w-100.justify-content-between
                        h5.mb-1 #{article.title}
                        small.text-muted #{moment(article.creationDate).format('DD/MM/YYYY HH:mm:ss')}
                    p.mb-1 #{article.subtitle}
                    .d-flex.flex-nowrap.justify-content-between
                        small.text-muted #{article.author}
                        small.text-muted #{article.category.title}
        - var articlesPerPage = 3
        - var numberOfPages = Math.ceil(articlesNumber / articlesPerPage)
    if numberOfPages > 1
        nav.paginator
            ul.pagination.justify-content-center
                if pageNumber === 0
                    li.page-item.disabled
                        a.page-link(href="/") Назад
                else
                    li.page-item
                        a.page-link(href="/page/" + (pageNumber - 1)) Назад
                - var i = 0;
                 while i < numberOfPages
                     if pageNumber === i
                         li.page-item.active
                            a.page-link(href="/page/" + i)= ++i
                     else
                         li.page-item
                             a.page-link(href="/page/" + i)= ++i
                if pageNumber === numberOfPages - 1
                    li.page-item.disabled
                        a.page-link(href="#") Вперед
                else
                    li.page-item
                        a.page-link(href="/page/" + (pageNumber + 1)) Вперед
