extends ../../layout
block content
    .content-wrapper.main-content
        .d-flex.flex-row.flex-nowrap.justify-content-start.align-items-center.mb-4
            h1.mr-4 Управление публикациями
            a.ml-4.btn.btn-primary(href="/manage/articles/add") Добавить статью
        != messages()
        .d-flex.flex-row.flex-wrap.justify-content-start.pb-4.mb-4
            each article in articles
                .card.bg-light.mb-3.blog-post.mr-4
                    header.card-header.text-overflow-row #{article.title}
                    .card-body.d-flex.flex-column
                        h4.card-title #{article.subtitle}
                        p.blog-post__text #{article.description}
                        .d-flex.mt-auto.flex-column.flex-nowrap
                            p.text-muted.m-0 Автор:
                                span.text-dark.mx-2 #{article.author}
                            p.text-muted.m-0 Раздел:
                                span.text-dark.mx-2 #{article.category.title}
                            p.text-muted.m-0 Создано:
                                span.text-dark.mx-2 #{moment(article.time).format('DD/MM/YYYY HH:mm:ss')}
                    .card-footer.d-flex.flex-row.flex-nowrap.justify-content-end
                        button.btn.btn-outline-danger.delete-article.mx-4(data-id=article._id) Удалить
                        a.btn.btn-outline-warning(href="/manage/articles/edit/" + article._id) Редактировать
